.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.Hab > div {
  flex-basis: 12vw;
  height: 100%;
}

.Hab {
  display: flex;
  justify-content: space-around;

  height: 75vh;
  width: 80%;

  margin: 0 auto;
}

.ChimneyAndSparker {
  position: relative;
}