.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.Explosion {
  color: red;
  position: fixed;
  left: 25vw;
  top: 17.5vh;

  width: 50vw;
}

.Hab {
  display: flex;
  justify-content: space-around;
  align-items: baseline;

  height: 75vh;
  width: 100%;
}