.App {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 100vw;
}

.Hab > div {
  flex-basis: 12vw;
  height: 100%;
}

.Explosion {
  color: red;
  position: fixed;
  left: 25vw;
  top: 17.5vh;

  width: 50vw;
}

.Hab {
  display: flex;
  justify-content: space-around;

  height: 75vh;
  width: 80%;

  margin: 0 auto;
}